*{
    margin:0px;
    padding:0px;
    background-color:rgb(216, 240, 110);
    color:white
}
h1{
    text-align: center;
    text-decoration: underline;
    color: rgb(21, 22, 20);
    font-style:italic;
}
table {
      width: 80%;
      border-collapse: collapse;
      margin: 20px auto;
    }
    th, td {
      border: 1px solid #333;
      padding: 10px;
      text-align: center;
    }
    th {
      background-color:rgb(230, 233, 37);
    }
    tfoot {

      font-weight: bold;
    }
    .week{
        background-color:#333;
    }
    .foot{
        background-color:burlywood;
    }

  h1{


    }